.note-button {
  width: 24px;
  height: 24px;
  border-radius: 2px;;
  background: black;
  color: rgb(241, 217, 137);
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 65px;
  right: 10px;
  opacity: 0;
}

.note:hover .note-button {
  opacity: 1;
  pointer-events: auto; /* clickable only when visible */
}
.note-button:hover {
  opacity: 1;
}