.general-container {
  background-image: url('images/wooden-notes-board.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 500px;
  background-size: 100% 100%;
  height: 100vh; 
  width: 100vw; 
  min-width: 950px;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}

/* shorthand general-container:*/
.general-container {
  background: url('images/wooden-notes-board.jpg') center center / 100% 100% no-repeat;
  height: 100vh;
  width: 100vw;
  min-width: 950px;
  font: 400 normal 30px "Covered By Your Grace", cursive;
}

.notebook-page {
  background-image: url('images/notebook-page.jpg');
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent; 
  background-origin: padding-box;
  background-clip: border-box;
  height: 300px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 10px;
  filter: drop-shadow(0 2px 4px black);
}

/* shorthand notebook-page:*/

.notebook-page {
  background: url('images/notebook-page.jpg') center center / 100% 100% no-repeat;
  height: 300px;
  width: 60%;                    
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-top: 10px;
  filter: drop-shadow(0 2px 4px black);
}